{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do FACT</title>
    <link rel="stylesheet" href="{% static 'fact/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Detalhes do FACT</h2>
        <a href="{% url 'fact_list' %}" class="btn-back">Voltar para a Lista de FACTs</a>
        <div class="spacer"></div> <!-- Adicionando um espaçador -->

        <h3>{{ fact.title }}</h3>
        <p><strong>Data de Criação:</strong> {{ fact.created_at|date:"d/m/Y H:i" }}</p>
        <p><strong>Status:</strong> {% if fact.is_draft %}Rascunho{% else %}Publicado{% endif %}</p>
        <p><strong>Número de Grupos:</strong> {{ fact.num_groups }}</p>

        <h4>Grupos e Integrantes</h4>
        <ul>
            {% for group in fact.groups.all %}
                <li>
                    <strong>{{ group.name }}</strong>
                    <ul>
                        {% for member in group.members.all %}
                            <li>{{ member.name }}</li>
                        {% empty %}
                            <li><em>Sem integrantes</em></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
