{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Notas dos Alunos</title>
    <link rel="stylesheet" href="{% static 'fact/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Ver Notas dos Alunos</h2>
        <a href="{% url 'home' %}" class="btn-back">Voltar para a Home</a>
        <ul>
            {% for fact in facts %}
                <li>
                    {{ fact.title }} -
                    <span>Data de Criação: {{ fact.created_at|date:"d/m/Y H:i" }}</span>
                    <span> - Prazo:
                        {% if fact.deadline %}
                            {{ fact.deadline|date:"d/m/Y H:i" }}
                        {% else %}
                            Não definido
                        {% endif %}
                    </span>
                    <!-- Link para ver as notas dos alunos -->
                    <a href="{% url 'view_grades' fact.id %}">Ver Notas dos Alunos</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>