{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de FACTs</title>
    <link rel="stylesheet" href="{% static 'fact/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Lista de FACTs</h2>
        <a href="{% url 'home' %}" class="btn-back">Voltar para a Home</a>
        <ul>
            {% for fact in facts %}
                <li>
                    {{ fact.title }} - 
                    {% if fact.is_draft %}
                        Rascunho
                    {% else %}
                        Publicado 
                        {% if fact.responses.count %} 
                            - (Resolvido)
                        {% endif %}
                    {% endif %}
                    <span> - Data de Criação: {{ fact.created_at|date:"d/m/Y H:i" }}</span>
                    <span> - Prazo: 
                        {% if fact.deadline %}
                            {{ fact.deadline|date:"d/m/Y H:i" }}
                        {% else %}
                            Não definido
                        {% endif %}
                    </span>
                    <a href="{% url 'fact_detail' fact.id %}">Visualizar</a> |
                    <a href="{% url 'post_fact' fact.id %}">Postar</a> |
                    <a href="{% url 'delete_fact' fact.id %}">Excluir</a> |
                    <a href="{% url 'view_responses' fact.id %}">Visualizar Respostas</a>
                    <a href="{% url 'view_grades' fact.id %}">Ver Notas dos Alunos</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
