{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'fact/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Create_Fact!</h1>
        <h2>Selecione uma opção:</h2>
        <ul>
            <li><a href="{% url 'create_fact' %}">Criar FACT</a></li>
            <li><a href="{% url 'fact_list' %}">Lista de FACTs (Professor)</a></li>
            <li><a href="{% url 'fact_list_student' %}">Resolução de FACT (Estudante)</a></li>
        </ul>
    </div>
</body>
</html>
