{% extends 'usuarios/base.html' %}
{% block conteudo %}

<div class="container-cadastro" style="background-color: rgb(248, 248, 248);box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); width: 775px; border-radius: 10px; 
padding: 70px; justify-content: center;">
    <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serifz;">Cadastro de Usuários</h1>

    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'cadastro' %}" method="post" style="display: flex; justify-content: center; align-items: center;">
        {% csrf_token %}
        <div class="form-group" style="display: flex; flex-direction: column; width: 500px;">

            <input name="nome" class="form-control-sm" type="text" id="nome" placeholder="Digite seu Nome" style="background-color: white; 
            border-color: black; margin-bottom: 10px; padding: 10px;" required>
        
            <input name="matricula" class="form-control-sm" type="text" id="matricula" placeholder="Digite sua matricula" style="background-color: white; 
            border-color: black; margin-bottom: 10px; padding: 10px;" required>

            <input name="email" class="form-control-sm" type="email" id="email" placeholder="Digite seu Email(@cesar.school)" style="background-color: white; 
            border-color: black; margin-bottom: 10px; padding: 10px;" required>

            <input name="senha" class="form-control-sm" type="password" id="senha" placeholder="Digite sua senha" style="background-color: white; 
            border-color: black; margin-bottom: 10px; padding: 10px;" required>

        <div class="form-button" style="display: flex; justify-content: center; padding: 10px;">
            <button class="form-control-sm btn-primary" type="submit" 
            style="
            background-color: rgb(248, 115, 27);
             width: 100px;
             text-align: center;
             padding: 8px; width: 120px; font-size: 18px;
             border-color: black;
             
             "
             >Cadastrar</button>
        </div>
    </form>

    <div style="display: flex; justify-content: center;">
        <a href="{% url 'menu' %}" class="btn btn-secondary" style="text-align: center; padding: 8px; background-color: rgba(0, 0, 0, 0); color: black; border-color: rgb(182, 182, 182);">Voltar ao Menu</a>
    </div>
  </div>

  <script>
    function validarFormulario() {
      const nome = document.getElementById('nome');
      const matricula = document.getElementById('matricula');
      const email = document.getElementById('email');
      const senha = document.getElementById('senha');
  
      if (nome.value === "") {
        alert('Por favor, insira um nome.');
      } else if (matricula.value === "" || isNaN(matricula.value)) {
        alert('Por favor, insira uma matricula válida.');
      } else if (!email.value.endsWith('@cesar.school')) {
        alert('O email deve terminar com @cesar.school.');
      } else if (senha.value.length < 6) {
        alert('A senha deve ter pelo menos 6 caracteres.');
      } else {
        alert('Formulário enviado com sucesso!');
        
        document.forms[0].submit();  
      }
    }
  </script>
  

{% endblock %}
