{% extends 'usuarios/base.html' %} {% block conteudo %}
<div
  class="container-login-aluno"
  style="
    background-color: rgb(248, 248, 248);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 775px;
    border-radius: 10px;
    padding: 70px;
    justify-content: center;
  "
>
  <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif">
    Login - Aluno
  </h1>

  {% if messages %}
  <div>
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}

  <form
    action="{% url 'login' %}"
    method="post"
    style="display: flex; justify-content: center; align-items: center"
  >
    <div
      class="form-group"
      style="display: flex; flex-direction: column; width: 500px"
    >
      {% csrf_token %}
      <input
        name="email"
        class="form-control-sm"
        type="email"
        id="email"
        required
        style="
          background-color: white;
          border-color: black;
          margin-bottom: 10px;
          padding: 10px;
        "
        placeholder="Digite seu email (@cesar.school)"
      />

      <input
        name="senha"
        class="form-control-sm"
        type="password"
        id="senha"
        placeholder="Digite sua Senha"
        required
        style="
          background-color: white;
          border-color: black;
          margin-bottom: 10px;
          padding: 10px;
        "
      />
      <div style="display: flex; justify-content: center; align-items: center">
        <button
          class="form-control-sm btn-primary"
          type="submit"
          style="
            border-color: black;
            background-color: rgb(248, 115, 27);
            width: 150px;
            text-align: center;
            justify-content: center;
            padding: 7px;
            color: white;
            font-size: 18px;
          "
        >
          Login
        </button>
      </div>
    </div>
  </form>

  <div style="display: flex; justify-content: center; align-items: center">
    <a
      href="{% url 'menu' %}"
      class="btn btn-secondary"
      style="text-align: center; padding: 8px; background-color: rgba(0, 0, 0, 0); color: black; border-color: rgb(182, 182, 182);"
      >Voltar ao Menu</a
    >
  </div>
</div>
{% endblock %}
