{% extends 'usuarios/base.html' %} {% block conteudo %}
<div
  class="container-menu"
  style="
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 100px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: rgb(250, 250, 250);
  "
>
  <div>
    <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 60px">
      Bem-vindo, Aluno!
    </h1>
    <p style="font-family: Arial, Helvetica, sans-serif">
      Por favor, escolha uma das opções abaixo:
    </p>
  </div>

  <div
    class="layout"
    style="
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <a
      href="{% url 'login' %}"
      class="btn btn-primary"
      style="
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        border-color: rgb(167, 167, 167);
        padding: 7px;
        width: 200px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      "
      onmouseover="this.style.backgroundColor='rgb(255, 118, 27)'; this.style.color='white';"
      onmouseout="this.style.backgroundColor='rgba(0, 0, 0, 0)'; this.style.color='rgb(0, 0, 0)';"
      >Login</a
    >

    <a
      href="{% url 'cadastro' %}"
      class="btn btn-primary"
      style="
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        border-color: rgb(167, 167, 167);
        padding: 7px;
        width: 200px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-top: 20px;
      "
      onmouseover="this.style.backgroundColor='rgb(255, 118, 27)'; this.style.color='white';"
      onmouseout="this.style.backgroundColor='rgba(0, 0, 0, 0)'; this.style.color='rgb(0, 0, 0)';"
      >Cadastro</a
    >
  </div>

  <div>
    <a
      href="{% url 'escolha_usuario' %}"
      class="btn btn-secondary"
      style="
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 8px;
        background-color: rgb(255, 118, 27);
        width: 150px;
      "
      >Voltar ao início</a
    >
  </div>
</div>


{% endblock %}
