{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
  <h1>Cadastro de Usuários</h1>

  {% if messages %}
  <div>
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}

  <form action="{% url 'cadastro' %}" method="post">
    {% csrf_token %}
    <div class="form-group-cadastro">
      <label for="nome">Nome</label>
      <input name="nome" class="form-control-sm" type="text" id="nome" required>

      <label for="matricula">Matrícula</label>
      <input name="matricula" class="form-control-sm" type="text" id="matricula" required>

      <label for="email">Email</label>
      <input name="email" class="form-control-sm" type="email" id="email" required>


      <label for="senha">Senha</label>
      <input name="senha" class="form-control-sm" type="password" id="senha" required>
      
      <div class="botao-enviar">
        <button class="form-control-sm btn-primary" type="submit">Cadastrar</button>
      </div>
    </div>
  </form>

  <div>
    <a href="{% url 'menu' %}" class="btn btn-secondary">Voltar ao Menu</a>
  </div>
</div>

<script>
  function validarFormulario() {
    const nome = document.getElementById('nome');
    const matricula = document.getElementById('matricula');
    const email = document.getElementById('email');
    const senha = document.getElementById('senha');

    if (nome.value === "") {
      alert('Por favor, insira um nome.');
    } else if (matricula.value === "" || isNaN(matricula.value)) {
      alert('Por favor, insira uma matricula válida.');
    } else if (!email.value.endsWith('@cesar.school')) {
      alert('O email deve terminar com @cesar.school.');
    } else if (senha.value.length < 6) {
      alert('A senha deve ter pelo menos 6 caracteres.');
    } else {
      alert('Formulário enviado com sucesso!');

      document.forms[0].submit();
    }
  }
</script>

{% endblock %}